# /etc/ssh/sshd_config
#	$OpenBSD: sshd_config,v 1.100 2016/08/15 12:32:04 naddy Exp $

# This is the sshd server system-wide configuration file.  See
# sshd_config(5) for more information.

# This sshd was compiled with PATH=/usr/local/bin:/usr/bin

# The strategy used for options in the default sshd_config shipped with
# OpenSSH is to specify options with their default value where
# possible, but leave them commented.  Uncommented options override the
# default value.

# If you want to change the port on a SELinux system, you have to tell
# SELinux about this change.
# semanage port -a -t ssh_port_t -p tcp #PORTNUMBER
#
#Port 22
# Added Protocol per V-72251
# Rob Ramsey, 1 Nov 2018
Protocol 2
#AddressFamily any
#ListenAddress 0.0.0.0
#ListenAddress ::

HostKey /etc/ssh/ssh_host_rsa_key
#HostKey /etc/ssh/ssh_host_dsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

# Ciphers and keying
# Added the following Ciphers line per V-72221
# Rob Ramsey, 1 Nov 2018
Ciphers aes128-ctr,aes192-ctr,aes256-ctr
# Added the following Ciphers line per V-72253
# Rob Ramsey , 1 Nov 2018
MACs hmac-sha2-256,hmac-sha2-512
#RekeyLimit default none

# Logging
#SyslogFacility AUTH
SyslogFacility AUTHPRIV
#LogLevel INFO

# Authentication:

#LoginGraceTime 2m
# Modified PermitRootLogin per V-72247
# Rob Ramsey, 1 Nov 2018
PermitRootLogin no
# Modified StrictMode per V-72263
# Rob Ramsey, 2 Nov 2018
StrictModes yes
#MaxAuthTries 6
#MaxSessions 10

#PubkeyAuthentication yes

# The default is to check both .ssh/authorized_keys and .ssh/authorized_keys2
# but this is overridden so installations will only check .ssh/authorized_keys
AuthorizedKeysFile	.ssh/authorized_keys

#AuthorizedPrincipalsFile none

#AuthorizedKeysCommand none
#AuthorizedKeysCommandUser nobody

# For this to work you will also need host keys in /etc/ssh/ssh_known_hosts
# Modified HostbasedAuthentication per V-71959
# Rob Ramsey, 1 Nov 2018
HostbasedAuthentication no
# Change to yes if you don't trust ~/.ssh/known_hosts for
# HostbasedAuthentication
# Modified IgnoreUserKnownHosts per V-72249
# Rob Ramsey, 1 Nov 2018
IgnoreUserKnownHosts yes
# Don't read the user's ~/.rhosts and ~/.shosts files
# Modified IgnoreRhosts per V-72243
# Rob Ramsey, 1 Nov 2018
IgnoreRhosts yes

# Added RhostsRSAAuthentication no per V-72239
RhostsRSAAuthentication no

# To disable tunneled clear text passwords, change to no here!
#PasswordAuthentication yes
# Modified PermitEmptyPasswords per V-71939
# Rob Ramsey, 1 Nov 2018
PermitEmptyPasswords no
PasswordAuthentication yes

# Change to no to disable s/key passwords
#ChallengeResponseAuthentication yes
ChallengeResponseAuthentication no

# Kerberos options
# Modified KerberosAuthentication per V-72261
# Rob Ramsey, 2 Nov 2018
KerberosAuthentication no
#KerberosOrLocalPasswd yes
#KerberosTicketCleanup yes
#KerberosGetAFSToken no
#KerberosUseKuserok yes

# GSSAPI options
# Modified GSSAPIAuthentication per V-72259
# Rob Ramsey, 2 Nov 2018
GSSAPIAuthentication no
GSSAPICleanupCredentials no
#GSSAPIStrictAcceptorCheck yes
#GSSAPIKeyExchange no
#GSSAPIEnablek5users no

# Set this to 'yes' to enable PAM authentication, account processing,
# and session processing. If this is enabled, PAM authentication will
# be allowed through the ChallengeResponseAuthentication and
# PasswordAuthentication.  Depending on your PAM configuration,
# PAM authentication via ChallengeResponseAuthentication may bypass
# the setting of "PermitRootLogin without-password".
# If you just want the PAM account and session checks to run without
# PAM authentication, then enable this but set PasswordAuthentication
# and ChallengeResponseAuthentication to 'no'.
# WARNING: 'UsePAM no' is not supported in Red Hat Enterprise Linux and may cause several
# problems.
UsePAM yes

#AllowAgentForwarding yes
#AllowTcpForwarding yes
#GatewayPorts no
# Modified X11Forwarding per V-72303
# Rob Ramsey, 2 Nov 2018
X11Forwarding yes
#X11DisplayOffset 10
#X11UseLocalhost yes
#PermitTTY yes
#PrintMotd yes
# Modified PrintLastLog per V-72245
# Rob Ramsey, 1 Nov 2018
PrintLastLog yes
#TCPKeepAlive yes
#UseLogin no
# Modified UsePrivilegeSeperation per V-72265
# Rob Ramsey , 2 Nov 2018
UsePrivilegeSeparation sandbox
# Modified PermitUserEnvironment per V-71957
# Rob Ramsey, 1 Nov 2018
PermitUserEnvironment no
# Modified Compression per V-72267
# Rob Ramsey, 2 Nov 2018
Compression delayed
# Modified ClientAliveInterval per V-72237
# Rob Ramsey, 1 Nov 2018 
ClientAliveInterval 600
# Modified ClientAliveCountMax per V-72241
# Rob Ramsey, 1 Nov 2018
ClientAliveCountMax 0
#ShowPatchLevel no
#UseDNS yes
#PidFile /var/run/sshd.pid
#MaxStartups 10:30:100
#PermitTunnel no
#ChrootDirectory none
#VersionAddendum none

# no default banner path
# Modified Banner per V-72225
# Rob Ramsey, 1 Nov 2018
Banner /etc/issue

# Accept locale-related environment variables
AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AcceptEnv LC_IDENTIFICATION LC_ALL LANGUAGE
AcceptEnv XMODIFIERS

# override default of no subsystems
Subsystem	sftp	/usr/libexec/openssh/sftp-server

# Example of overriding settings on a per-user basis
#Match User anoncvs
#	X11Forwarding no
#	AllowTcpForwarding no
#	PermitTTY no
#	ForceCommand cvs server
